html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100%;
}
h1{
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}
header{
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    width: 100%;
    background-color: #F5F5F5;
}
.searchArea{
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    background-color: #01938D;
    width: 28em;
    height: 5.5em;
    padding: 20px 0 0 0;
    box-shadow: 0px -8px #007570 inset;
}
.searchArea__info{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.searchArea__line{
    height: 35px;
    margin: 5px auto;
}
.searchArea__input{
    width: 16em;
    height: 25px;
    border-radius: 10px;
    display: inline-block;
    margin: 1em 20px 0 0;
    font-size: 20px;
    padding-left: 10px;
  
}
.searchArea__button{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 2px 11px 5px 10px;
    font-size: 20px;
    display: inline-block;
    height: 42px;
}
.resultArea{
    overflow: auto;
    text-align: center;
    padding-bottom: 70px;
}
.resultArea__image-wrapper{
    width: 340px;
    height: 255px;
    display: inline-block;
    position: relative;
    margin: 10px;
    box-sizing: content-box;
    border-radius: 5px;
    overflow: hidden;
    color: red;
}
.resultArea__image-wrapper__photo{
}
footer{
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #F5F5F5;
    z-index: 1;
}
footer p{
    font-family: 'Raleway', sans-serif;
    color: darkgrey;
    margin: 20px 20px 20px 40px;
    word-spacing: 2px;
    font-size: 10px;
    display: inline-block;
}
footer span{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin: 20px 40px 20px 20px;
    word-spacing: 2px;
    font-size: 10px;
    float: right;
    display: inline-block;
}